body {
    font-family: Avenir;
    font-size: 11px;
    background: white;
}

.bigger {
    font-size:130%;
}

#intropage-container h1 {
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 20%;
}

#intropage-container h2 {
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 20%;
}

#story1 h2 {
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 20%;
    line-height: 180%;
}


#story2 h2 {
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 20%;
}

#mappage h1 {
    padding: 5px;
}

img {
    height:650px;
    margin-left: 30px;
}

.placeholder-text {
    font-size: 20px;
}

/* FULLPAGE */



#fp-nav ul li a span {
    background: whitesmoke;
}

#prevention {
    font-size: 25px;
}

#link {
    font-weight: bold;
}

#question {
    font-weight: bold;
}

.quiz-reason {
    text-align: right;
}


img.icon-ref {
    width: auto;
    height: 120px;
    position: absolute;
    right: 5px;
    padding:5px;
}

section {
    margin-bottom: 25px;
}


/*********************/
/*     CHOROPLETH   */
/*********************/

.map {
    fill: #ededed;
    stroke: #cecece;
    stroke-width: 0.1px;
}

.map:hover{
    opacity: 0.65;
}

#map {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.legendLabel {
    font-size: 9px;
    fill: dimgrey;
}

.btn {
    font-size: 14px;
}

.map-instruction {
    fill: #b0b0b0;
    text-anchor:middle;
}

.map-dropdown {
    font-size: 15px;
    font-weight: lighter;
}

#mappage row {
    margin-left: 10px;
}

/*********************/
/*     RANKING       */
/*********************/

.rank-title {
    /*font-family: 'Poiret One', cursive;*/
    fill: #053b68;
    font-size: 18px;
    /*letter-spacing: 0.5px;*/
    /*font-weight: bold;*/
    /*text-anchor: middle;*/
}

.rank-text{
    fill: black;
    font-size: 13.5px;
}

#ranking-svg {
    margin-top: 10px;
}

.rank-note {
    fill: #a5a5a5;
    font-size: 10px;
}

.background-box {
    fill: rgba(247, 247, 247, 0.8);
    stroke: rgba(247, 247, 247, 0.8);
    /*fill: #f7f7f7;*/
    /*stroke: #f7f7f7;*/
    stroke-width: 1px;
    rx: 17px;
    ry: 17px;
}



/***********************/
/* ATTAINMEENT PROFILE */
/***********************/

/* default figure (no filter) */

.attain-instruct {
    font-size: 18px;
    /*text-align: center;*/
    line-height: 130%;
}

.line {
    stroke: #663399;
    stroke-width: 2px;
    fill: none;
}

.line-US {
    stroke: #a5a5a5;
    stroke-width: 1.5px;
    fill: none;
}

#dropout-text {
    text-align: center;
}

#attain-btn {
    align: middle;
}

li {
    font-size: 15px;
}

img.icon {
    width: auto;
    height: 100px;
}

.points {
    fill: #663399;
    stroke: #663399;
    stroke-width: 0.1 px;
}

.points-US{
    fill: #a5a5a5;
    stroke: #a5a5a5;
    stroke-width: 0.1 px;
}

.y-label {
    font-size: 13px;
    fill: grey;
    transform: rotate(-90deg);
    text-anchor: end;
    opacity: 0.5;
}

.x-label {
    font-size: 13px;
    fill: grey;
    text-anchor: end;
    opacity: 0.5;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 2px;
    font-size: 10px;
    background: grey;
    border: none;
    border-radius: 3px;
    pointer-events: none;
}

.legend-text {
    font-size: 12px;
    fill: grey;
}

/* gender filter line */

.line-male {
    stroke: #1d65af;
    stroke-width: 1.5px;
    fill: none;
}

.points-male {
    fill: #1d65af;
    stroke: #1d65af;
    stroke-width: 0.1 px;
}

.line-female {
    stroke: #a52731;
    stroke-width: 1.5px;
    fill: none;
}

.points-female {
    fill: #a52731;
    stroke: #a52731;
    stroke-width: 0.1 px;
}


/* rural/urban filter line */

.line-urban {
    stroke: #656565;
    stroke-width: 1.5px;
    fill: none;
}

.points-urban {
    fill: #656565;
    stroke: #656565;
    stroke-width: 0.1 px;
}

.line-rural {
    stroke: #147f27;
    stroke-width: 1.5px;
    fill: none;
}

.points-rural {
    fill: #147f27;
    stroke: #147f27;
    stroke-width: 0.1 px;
}

/* income filter line */

.line-q1 {
    stroke: #08589e;
    stroke-width: 1.5px;
    fill: none;
}

.points-q1 {
    fill: #08589e;
    stroke: #08589e;
    stroke-width: 0.1 px;
}

.line-q2 {
    stroke: #2b8cbe;
    stroke-width: 1.5px;
    fill: none;
}

.points-q2 {
    fill: #2b8cbe;
    stroke: #2b8cbe;
    stroke-width: 0.1 px;
}

.line-q3 {
    stroke: #4eb3d3;
    stroke-width: 1.5px;
    fill: none;
}

.points-q3 {
    fill: #4eb3d3;
    stroke: #4eb3d3;
    stroke-width: 0.1 px;
}

.line-q4 {
    stroke: #7bccc4;
    stroke-width: 1.5px;
    fill: none;
}

.points-q4 {
    fill: #7bccc4;
    stroke: #7bccc4;
    stroke-width: 0.1 px;
}

.line-q5 {
    stroke: #a8ddb5;
    stroke-width: 1.5px;
    fill: none;
}

.points-q5 {
    fill: #a8ddb5;
    stroke: #a8ddb5;
    stroke-width: 0.1 px;
}

.note-hover {
    fill: gray;
    opacity: 0.7;
    font-size: 10px;
}

/* distribution vis */

.y_axis_scatter line {
    stroke: transparent;
}

.y_axis_scatter path {
    stroke: transparent;
}

.y_axis_scatter text {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.y_axis_scatter label {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.x_axis_scatter line {
    stroke: gray;
}

.x_axis_scatter path {
    stroke: gray;
}

.x_axis_scatter text {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.x_axis_scatter label {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-opacity: .7;
    fill-opacity: .7;
}

#controls {
    font-size: 14px;
    position: absolute;
    top: 120px;
    left: 810px;
}

input {
    margin: 4px 4px 0;
}


/* FULLPAGE */

#intropage {
    background-image: url(../img/student_standing_30.png);
    background-size: cover;
    padding: 0;
}

#fp-nav ul li a span {
    background: black;
}
