body {
    font-family: Avenir;
    font-size: 11px;
}
.bigger { font-size:130%; }

#intropage-container h1 {
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 20%;
}
#intropage-container h2 {
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 20%;
}

img{
    height:650px;
    margin-left: 30px;
}

.placeholder-text {
    font-size: 20px;
}

/* FULLPAGE */

#fp-nav ul li a span {
    background: whitesmoke;
}

#prevention {
    font-size: 25px;
}

#link {
    font-weight: bold;
}

#question {
    font-weight: bold;
}

.quiz-reason {
    text-align: right;
}

/*********************/
/*     CHOROPLETH   */
/*********************/

.map {
    fill: none;
    stroke: #cecece;
    stroke-width: 0.1px;
}

/*.map:hover{*/
    /*fill: #f7fcf0;*/
    /*fill-opacity: 0.5;*/
/*}*/

#map {
    width: 100%;
    height: 650px;
}

div {
    /*margin: 10px;*/
}

.legendLabel {
    font-size: 9px;
    fill: dimgrey;
}

.btn {
    font-size: 14px;
}

/*********************/
/*     RANKING       */
/*********************/

.rank-title {
    fill: dimgrey;
    font-size: 15px;
    font-weight: bold;
}

.rank-text{
    fill: dimgrey;
    font-size: 14px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

