



body {
    font-family: Avenir;
    font-size: 11px;
}

.bigger {
    font-size:130%;
}

#intropage-container h1 {
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 20%;
}

#intropage-container h2 {
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 20%;
}

img{
    height:650px;
    margin-left: 30px;
}

.placeholder-text {
    font-size: 20px;
}

/* FULLPAGE */

#fp-nav ul li a span {
    background: whitesmoke;
}

#prevention {
    font-size: 25px;
}

#link {
    font-weight: bold;
}

#question {
    font-weight: bold;
}

.quiz-reason {
    text-align: right;
}

img.icon {
    width: auto;
    height: 150px;
}

img.icon-ref {
    width: auto;
    height: 100px;
}

section {
    margin-bottom: 25px;
}

/*********************/
/*     CHOROPLETH   */
/*********************/

.map {
    fill: none;
    stroke: #cecece;
    stroke-width: 0.1px;
}

.map:hover{
    fill: #123f6e;
    opacity: 0.8;
}

#map {
    width: 100%;
    height: 650px;
}

.legendLabel {
    font-size: 9px;
    fill: dimgrey;
}

.btn {
    font-size: 14px;
}


/*********************/
/*     RANKING       */
/*********************/

.rank-title {
    fill: #4c4c4c;
    font-size: 15px;
    font-weight: bold;
}

.rank-text{
    fill: dimgrey;
    font-size: 14px;
}


/***********************/
/* ATTAINMEENT PROFILE */
/***********************/

/* default figure (no filter) */

.line {
    stroke: #663399;
    stroke-width: 1.5px;
    fill: none;
}

/*.line-40 {*/
    /*opacity: 1;*/
/*}*/

/*.line-30 {*/
    /*opacity: 0.85;*/
/*}*/

/*.line-20 {*/
    /*opacity: 0.70;*/
/*}*/

/*.line-15 {*/
    /*opacity: 0.55;*/
/*}*/

li {
    font-size: 15px;
}

.points {
    fill: #663399;
    stroke: #663399;
    stroke-width: 0.1 px;
}

.y-label {
    font-size: 13px;
    fill: grey;
    transform: rotate(-90deg);
    text-anchor: end;
    opacity: 0.5;
}

.x-label {
    font-size: 13px;
    fill: grey;
    text-anchor: end;
    opacity: 0.5;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 2px;
    font-size: 10px;
    background: grey;
    border: none;
    border-radius: 3px;
    pointer-events: none;
}

.legend-text {
    font-size: 12px;
    fill: grey;
}

/* gender filter line */

.line-male {
    stroke: #1d65af;
    stroke-width: 1.5px;
    fill: none;
}

.points-male {
    fill: #1d65af;
    stroke: #1d65af;
    stroke-width: 0.1 px;
}

.line-female {
    stroke: #a52731;
    stroke-width: 1.5px;
    fill: none;
}

.points-female {
    fill: #a52731;
    stroke: #a52731;
    stroke-width: 0.1 px;
}


/* rural/urban filter line */

.line-urban {
    stroke: #656565;
    stroke-width: 1.5px;
    fill: none;
}

.points-urban {
    fill: #656565;
    stroke: #656565;
    stroke-width: 0.1 px;
}

.line-rural {
    stroke: #147f27;
    stroke-width: 1.5px;
    fill: none;
}

.points-rural {
    fill: #147f27;
    stroke: #147f27;
    stroke-width: 0.1 px;
}

/* income filter line */

.line-q1 {
    stroke: #08589e;
    stroke-width: 1.5px;
    fill: none;
}

.points-q1 {
    fill: #08589e;
    stroke: #08589e;
    stroke-width: 0.1 px;
}

.line-q2 {
    stroke: #2b8cbe;
    stroke-width: 1.5px;
    fill: none;
}

.points-q2 {
    fill: #2b8cbe;
    stroke: #2b8cbe;
    stroke-width: 0.1 px;
}

.line-q3 {
    stroke: #4eb3d3;
    stroke-width: 1.5px;
    fill: none;
}

.points-q3 {
    fill: #4eb3d3;
    stroke: #4eb3d3;
    stroke-width: 0.1 px;
}

.line-q4 {
    stroke: #7bccc4;
    stroke-width: 1.5px;
    fill: none;
}

.points-q4 {
    fill: #7bccc4;
    stroke: #7bccc4;
    stroke-width: 0.1 px;
}

.line-q5 {
    stroke: #a8ddb5;
    stroke-width: 1.5px;
    fill: none;
}

.points-q5 {
    fill: #a8ddb5;
    stroke: #a8ddb5;
    stroke-width: 0.1 px;
}

/* distribution vis */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-opacity: .7;
    fill-opacity: .7;
}

#controls {
    font-size: 14px;
    position: absolute;
    top: 120px;
    left: 810px;
}

input {
    margin: 4px 4px 0;
}


/* FULLPAGE */


#fp-nav ul li a span {
    background: black;
}
