#mappage label {
    margin-left: 15px;
}
.icons-ul {
    fill: dimgrey;
    letter-spacing: 1px;
}

#profilepage h3 {
    font-size: 25px;
    letter-spacing:1.5px;
    line-height: 130%;
}

#profilepage h4 {
    font-size: 22px;
    letter-spacing:1px;
    line-height: 150%;
}